<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat com Rhu A.I</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div align="center" style="display: flex; align-items: center; justify-content: center;">
            <img src="{{ url_for('static', filename='img/Rhy_IA.png') }}" alt="Logo da IA" style="margin-right: 10px; height: 50px; width: 50px;" />
            <h1>Rhy I.A</h1>
        </div>
        <div class="chat-box" id="chat-box">
            <div class="message gemini-message">
                Olá! Como <b>Rhy I.A</b> pode te ajudar hoje?
            </div>
        </div>
        <div class="loading" id="loading-indicator">Digitando...</div>
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Digite sua mensagem..." />
            <button onclick="sendMessage()">Enviar</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
